body {
    background-color: #67BEA6;
    width: 30%;

}
#search {
    padding: 5px;
}

em {
    color: greenyellow;
    font-style: normal;
}
.button {
    background-color: greenyellow;
}
#mapthumb {
    width = 100px;
}

#logo {
    width: 250px;
}
form {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: purple;
}

p {
    font-family: sans-serif;
}

.icon {
    width: 60px;
    margin: 5px;
}
ul {
    list-style-type: none;
}
li p {
    float: right;
}